@import 'variables';
@import 'mixins';

// Base
@import 'base/fonts';
@import 'base/base';

// Components
@import 'components/header';
@import 'components/footer';

// Pages
@import 'pages/index';

// importer le css materialize
@import '../../node_modules/materialize-css/dist/css/materialize.css';

.proweb{

    font-size: large;
}

#lamp{
    display: inline block;
}
.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#graph{
    border:8px solid lightgray;
    padding: 2em;
    height: auto;
    img{
        display: inline block;
        max-width: 60%;
        margin:1em;
    }
    .valign-wrapper{
        padding-left:25%;
    }
}

.cankao{
    position: relative;
    margin-bottom: 5%;
}

.notice{
    left:20%;
    
    top:-1.5em;
    
    position: absolute;
   
    width: 60%;
}

