footer {
    .footer-one {
        padding: 1em;
        ul li {
            font-weight: bold;
        }
        ul li h4 {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: bolder;
        }
        .space {
            margin-bottom: 1em;
        }
    }
    .footer-two {
        .row {
            font-family: arial;
            display: inline-block;
            font-weight: bolder;
            margin: .5em 2em;
            span {
                padding: 0 2.5em 0 1.5em;
            }
        }
    }
}