.nav-wrapper {
    font: bold 15px verdana;
    
  
    
    &:hover{
        background: lighten(#333, 10%);
    }
  
}


.navbar-fixed{
border-bottom-style: solid;
border-bottom-color: #808388; 
border-bottom-width: 10px;
height: 50px;
.black-text {
    font: bold 17px verdana;
}
 }


header .logo {
    position: absolute;
    left: 0;
    top: -50px;
    width: 13%;
}

header .logo img {
    width: 100%;
    height: auto;
}



header .container{
background-image: no-repeat,url("dist/images/MG_9827.jpg");
background-size:contain;
   


 

}

header .col{
    font: bold 30px verdana;
    color: rgb(7, 218, 7); 
}